---
import ColumnList from '../../components/ColumnList';
import Layout from '../../layouts/Layout.astro'
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'
import BtnA from '../../components/BtnA';

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
})
---

<Layout pageId="column" title="記事一覧  | Ozaki's Portfolio" description="テックブログ一覧">
	<main>

		<div class="content-bg">
			<div class="l-section">
				<div class="xl-inner">
					<div class="u-mb-m">
					</div>	
					<ColumnList data={articles} client:load />
          			<BtnA href='../' text="TOPに戻る" />
				</div>
			</div>

		</div>
	</main>
</Layout>

<style lang="scss">
	@import '../../styles/vars.scss';

	.content-bg {
		// background-image: url(/assets/images/common/content-bg.png);
		background-size: auto;
		background-repeat: repeat;

	}

	.l-section {
		margin: 0;
		padding-top: 8rem;
		padding-bottom: 8rem;

		@include max-screen($bp-sp) {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}

</style>
