$inner-width: 1000px;
$bp-tab: 1000px;
$bp-sp: 767px;
$main-color: #000;


/* --------------------------
	レスポンシブ関連
-------------------------- */
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin mq-max($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin mq-min($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}



@function vw-pc($size, $viewport: 1920) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}

@function vw-tab($size, $viewport: 768) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}

@function vw-sp($size, $viewport: 320) {
  $rate: calc(100 / $viewport);

  @return $rate * $size * 1vw;
}