---
import Layout from "../../layouts/Layout.astro";
---

<Layout pageId="contact" title="タイトルが入ります" description="概要が入ります">
	<main>

	</main>
</Layout>

<style lang="scss">
</style>

<script>
</script>