---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="service">
    <div class="xl-inner">
      <h2 class="service__ttl">Service</h2>
      <p class="service__text">
        京都府京丹後市出身。<br>
        現在は大阪のWeb制作会社にてフロントエンドエンジニアとして働いています。<br>
        2021年から独学でWeb制作を学習、2022年よりWeb制作会社にて実務をスタートし、<br>
        以来、さまざまなプロジェクトに携わってきました。
        現在は、GSAPやLuxy.jsを使ったアニメーションや、Astroフレームワークを活用したウェブサイト開発に注力しています。見た目も機能も優れたウェブサイトを作ることを目指し、常に新しい技術を学び続けています。<br>

        どうぞよろしくお願いします！
      </p>
    </div>
  </section>
</Layout>

<style lang="scss">
  @import '../../styles/vars.scss';

  .service {
    &__ttl {
      font-size: vw-pc(30);
    }
  }
</style>
