<div id="blog" class="blog">
  <div class="l-inner blog__inner">
    <div class="blog__text">
      <span class="layer-open blog-trigger">
        <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.14 64.97">
          <path class="blog-path" d="M0,0H14.77c4.66,0,8.2,.36,10.6,1.09,2.4,.73,4.34,2.2,5.82,4.41,1.48,2.21,2.21,5.78,2.21,10.7,0,3.33-.52,5.64-1.56,6.96-1.04,1.31-3.1,2.32-6.17,3.02,3.42,.77,5.74,2.06,6.96,3.85,1.22,1.79,1.83,4.54,1.83,8.25v5.28c0,3.85-.44,6.7-1.32,8.55-.88,1.85-2.28,3.12-4.2,3.8-1.92,.68-5.86,1.02-11.81,1.02H0V0ZM14.8,9.74v12.66c.63-.02,1.12-.04,1.48-.04,1.45,0,2.38-.36,2.78-1.07,.4-.71,.6-2.76,.6-6.13,0-1.78-.16-3.03-.49-3.74-.33-.71-.76-1.17-1.28-1.35-.53-.19-1.55-.29-3.08-.32Zm0,21.52v15.93c2.09-.07,3.42-.4,3.99-.98,.57-.59,.86-2.03,.86-4.32v-5.31c0-2.44-.26-3.91-.77-4.43-.52-.52-1.88-.81-4.08-.88Z"/>
          <path class="blog-path" d="M53.96,0V56.92h-14.62V0h14.62Z"/>
          <path class="blog-path" d="M91.2,26.65v11.43c0,4.2-.21,7.27-.63,9.23-.42,1.96-1.32,3.79-2.71,5.48-1.38,1.7-3.16,2.95-5.33,3.76-2.17,.81-4.66,1.21-7.47,1.21-3.14,0-5.8-.35-7.98-1.04s-3.87-1.73-5.08-3.13c-1.21-1.39-2.07-3.08-2.58-5.06-.52-1.98-.77-4.95-.77-8.91v-11.95c0-4.34,.47-7.72,1.41-10.16,.94-2.44,2.62-4.39,5.06-5.87,2.44-1.48,5.55-2.21,9.35-2.21,3.19,0,5.92,.47,8.21,1.42s4.05,2.19,5.29,3.71c1.24,1.52,2.09,3.09,2.55,4.71s.69,4.08,.69,7.38Zm-14.2-3.52c0-2.39-.13-3.9-.39-4.52-.26-.62-.81-.93-1.65-.93s-1.41,.31-1.69,.93c-.28,.62-.42,2.13-.42,4.52v21.06c0,2.2,.14,3.64,.42,4.31s.83,1,1.65,1,1.4-.3,1.67-.91c.27-.61,.4-1.92,.4-3.94V23.13Z"/>
          <path class="blog-path" d="M128.14,10.27V46.2c0,4.85-.11,7.99-.33,9.4-.22,1.42-1.01,2.92-2.37,4.5-1.36,1.58-3.25,2.79-5.68,3.62s-5.48,1.25-9.16,1.25c-4.52,0-8.16-.77-10.9-2.3s-4.16-4.55-4.25-9.05h13.78c0,2.06,.75,3.09,2.25,3.09,1.08,0,1.79-.32,2.14-.95s.53-1.96,.53-3.98v-3.52c-1.22,1.1-2.5,1.94-3.85,2.5-1.35,.56-2.76,.85-4.24,.85-2.55,0-4.66-.52-6.31-1.55-1.65-1.03-2.78-2.38-3.39-4.06-.61-1.68-.91-4.06-.91-7.15V21.9c0-4.43,.8-7.62,2.39-9.56,1.59-1.95,4.02-2.92,7.28-2.92,1.78,0,3.4,.36,4.87,1.09,1.46,.73,2.77,1.82,3.92,3.28l1.02-3.52h13.22Zm-14.24,12.38c0-2.13-.12-3.49-.37-4.08-.25-.59-.79-.88-1.63-.88s-1.4,.33-1.74,1c-.34,.67-.51,1.99-.51,3.96v15.68c0,2.09,.13,3.44,.39,4.06,.26,.62,.8,.93,1.62,.93,.94,0,1.55-.37,1.83-1.12,.28-.75,.42-2.45,.42-5.1v-14.45Z"/>
        </svg>
      </span>
    </div>
    <p class="blog__heading">
      From Basics to Advanced: <br>
      Web Development Tips and Tricks
    </p>
    <div class="blog-open blog-trigger">
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 16.36">
        <line style="fill: none; stroke: #231815; stroke-miterlimit: 20; stroke-width: 2px;" x1="38.24" y1="8.18" y2="8.18"/>
        <polygon style="fill: #231815;" points="31.61 0 30.25 1.46 37.47 8.18 30.25 14.89 31.61 16.36 40.41 8.18 31.61 0"/>
      </svg>
    </div>
  </div>
</div>


<style lang="scss">
  @import '../styles/vars.scss';

  .blog {
    width: 100%;
    height: 100vh;
    position: relative;

    &__inner {
      height: 100vh;
      position: relative;
      
    }

    &__text {
      width: 100%;
      cursor: pointer;
      margin-bottom: vw-pc(50);

      .layer-open {
        display: inline-block;
        width: 100%;
      }

      svg {
        height: vw-pc(300);
        width: auto;

        @include max-screen($bp-sp) {
          height: 8rem;
        }

        path {
          opacity: 0;
          transition: fill 0.5s ease;
        }

      }
    }

    &__heading {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: vw-pc(40);
      margin-bottom: vw-pc(80);

      @include max-screen($bp-sp) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
  }

  .blog-open {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: vw-pc(100);
    height: vw-pc(100);
    background: #ff9326;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include max-screen($bp-sp) {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      transition: 0.5s;
    }

    svg {
      width: vw-pc(20);
      position: relative;
      z-index: 3;

      @include max-screen($bp-sp) {
        width: 2rem;
      }
    }

    &.hover {
      &::after {
        width: 0;
      }
    }
    
  }

  .blog-path {
    fill: #000; 
    transition: fill 0.5s ease;
  }
  
</style>

<script>
  import {
		ScrollTrigger
	} from "gsap/ScrollTrigger";
  import gsap from "../scripts/gsap";

  window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    function animateSVG(className) {
      const paths = document.querySelectorAll(`.${className}`);

      paths.forEach((path, index) => {
        gsap.fromTo(path,
          { opacity: 0, y: 50, x: 20 },
          {
            opacity: 1,
            y: 0,
            x: 0,
            duration: 0.8,
            delay: index * 0.1,
            scrub: true,
            ease: 'power2.out'
          }      
        );
      });
    }

    function createTrigger(triggerClass, pathClass) {
      ScrollTrigger.create({
        trigger: `#${triggerClass}`,
        start: "top 70%",
        end: "bottom top",
        once: true,
        onEnter: () => animateSVG(pathClass),
      });
    }

    createTrigger('blog', 'blog-path');

    // ホバーエフェクトの追加
    const blogLink = document.querySelector('.blog__text .layer-open');
    const arrow = document.querySelector('.blog-open');
    const blogPaths = document.querySelectorAll('.blog-path');
    const blogLayer = document.querySelector('#blogLayer');
    const blogTriggers = document.querySelectorAll('.blog-trigger');

    blogTriggers.forEach((trigger) => {
      trigger.addEventListener('click', (e) => {
        e.preventDefault();
        blogLayer.classList.add('active');
        document.body.classList.add('no-scroll');
      });
    });

    function applyHoverEffect(element, colorOnHover, colorOnLeave) {
      element.addEventListener('mouseenter', () => {
        blogPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnHover;
        });
        arrow.classList.add('hover');
      });

      element.addEventListener('mouseleave', () => {
        blogPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnLeave;
        });
        arrow.classList.remove('hover');
      });
    }

    applyHoverEffect(blogLink, '#ff9326', '#000');
    applyHoverEffect(arrow, '#ff9326', '#000');
  });
</script>