<div id="contact" class="contact">
  <div class="l-inner contact__inner">
    <div class="contact__text">
      <a href="/contact/" class="layer-open contact-trigger">  
        <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270.16 70.41">
          <path class="contact-path" d="M41.53,30.84H23.96v-11.74c0-3.41-.19-5.55-.56-6.39-.38-.85-1.2-1.27-2.48-1.27-1.45,0-2.37,.52-2.75,1.54-.39,1.03-.58,3.26-.58,6.68v31.39c0,3.28,.19,5.43,.58,6.43,.39,1,1.27,1.5,2.63,1.5s2.16-.5,2.57-1.51,.61-3.36,.61-7.07v-8.49h17.57v2.63c0,6.99-.49,11.95-1.48,14.88-.99,2.93-3.17,5.49-6.55,7.69-3.38,2.2-7.55,3.3-12.5,3.3s-9.39-.93-12.73-2.8c-3.34-1.86-5.55-4.44-6.64-7.74-1.09-3.3-1.63-8.26-1.63-14.88V25.25c0-4.87,.17-8.52,.5-10.96,.33-2.43,1.33-4.78,2.98-7.03,1.65-2.25,3.95-4.03,6.89-5.32,2.94-1.29,6.31-1.94,10.12-1.94,5.18,0,9.45,1,12.81,3,3.37,2,5.58,4.5,6.64,7.48,1.06,2.99,1.59,7.63,1.59,13.94v6.42Z"/>
          <path class="contact-path" d="M85.48,33.06v13.56c0,4.98-.25,8.63-.75,10.96-.5,2.32-1.57,4.49-3.21,6.51-1.64,2.02-3.75,3.51-6.32,4.47-2.57,.96-5.53,1.44-8.87,1.44-3.73,0-6.89-.41-9.47-1.23-2.59-.82-4.6-2.06-6.03-3.71-1.43-1.65-2.46-3.66-3.07-6.01-.61-2.35-.92-5.88-.92-10.58v-14.19c0-5.15,.56-9.17,1.67-12.06,1.11-2.89,3.12-5.22,6.01-6.97,2.89-1.75,6.59-2.63,11.1-2.63,3.78,0,7.03,.56,9.75,1.69s4.81,2.6,6.28,4.4c1.47,1.81,2.48,3.67,3.03,5.59s.81,4.84,.81,8.76Zm-16.86-4.17c0-2.84-.15-4.63-.46-5.36-.31-.74-.96-1.11-1.96-1.11s-1.67,.37-2,1.11-.5,2.52-.5,5.36v25c0,2.62,.17,4.32,.5,5.11s.99,1.19,1.96,1.19,1.66-.36,1.98-1.08c.32-.72,.48-2.28,.48-4.67V28.88Z"/>
          <path class="contact-path" d="M108.18,13.61l-.29,5.1c1.22-2.03,2.72-3.56,4.49-4.58,1.77-1.02,3.8-1.53,6.11-1.53,2.89,0,5.26,.68,7.1,2.04,1.84,1.36,3.02,3.08,3.55,5.15,.53,2.07,.79,5.53,.79,10.37v38.81h-16.86V30.63c0-3.81-.13-6.14-.38-6.97-.25-.83-.95-1.25-2.09-1.25-1.2,0-1.95,.48-2.25,1.44-.31,.96-.46,3.53-.46,7.7v37.44h-16.86V13.61h17.15Z"/>
          <path class="contact-path" d="M153.51,6.22V14.94h4.55v8.76h-4.55v29.63c0,3.65,.19,5.68,.56,6.09,.38,.42,1.94,.63,4.7,.63v8.93h-6.8c-3.84,0-6.58-.16-8.22-.48-1.64-.32-3.09-1.06-4.34-2.21-1.25-1.15-2.03-2.48-2.34-3.96-.31-1.49-.46-4.99-.46-10.5V23.71h-3.63V14.94h3.63V6.22h16.9Z"/>
          <path class="contact-path" d="M176.84,35.06h-15.82v-3.71c0-4.28,.49-7.59,1.48-9.91,.99-2.32,2.97-4.38,5.95-6.16,2.98-1.78,6.84-2.67,11.6-2.67,5.7,0,10,1.01,12.9,3.03,2.89,2.02,4.63,4.49,5.22,7.43,.58,2.94,.88,8.98,.88,18.13v27.8h-16.4v-4.94c-1.03,1.98-2.36,3.46-3.99,4.45s-3.57,1.48-5.82,1.48c-2.95,0-5.66-.83-8.12-2.48-2.46-1.66-3.69-5.28-3.69-10.87v-4.55c0-4.15,.65-6.97,1.96-8.47,1.31-1.5,4.55-3.26,9.72-5.26,5.54-2.17,8.5-3.63,8.89-4.38,.39-.75,.58-2.28,.58-4.59,0-2.89-.22-4.78-.65-5.66-.43-.88-1.15-1.31-2.15-1.31-1.14,0-1.85,.37-2.13,1.11-.28,.74-.42,2.65-.42,5.74v5.8Zm5.34,7.6c-2.7,1.98-4.26,3.63-4.7,4.97-.43,1.34-.65,3.26-.65,5.76,0,2.87,.19,4.72,.56,5.55,.38,.83,1.12,1.25,2.23,1.25s1.75-.33,2.07-.98c.32-.65,.48-2.37,.48-5.15v-11.39Z"/>
          <path class="contact-path" d="M242.11,34.52h-15.9v-6.39c0-2.23-.18-3.74-.54-4.53-.36-.79-1.03-1.19-2-1.19s-1.63,.35-1.96,1.04c-.33,.7-.5,2.25-.5,4.67v26.13c0,1.98,.25,3.46,.75,4.44,.5,.99,1.24,1.48,2.21,1.48,1.14,0,1.91-.51,2.32-1.54,.4-1.03,.61-2.98,.61-5.84v-6.59h15.02c-.03,4.42-.19,7.74-.48,9.95s-1.22,4.48-2.8,6.8-3.62,4.08-6.16,5.26c-2.53,1.18-5.66,1.77-9.39,1.77-4.76,0-8.53-.81-11.31-2.44s-4.75-3.91-5.91-6.84c-1.16-2.94-1.73-7.1-1.73-12.5v-15.73c0-4.7,.47-8.25,1.42-10.64,.95-2.39,2.96-4.53,6.05-6.41,3.09-1.88,6.84-2.82,11.27-2.82s8.15,.93,11.27,2.8c3.12,1.86,5.19,4.22,6.22,7.05s1.54,6.86,1.54,12.06Z"/>
          <path class="contact-path" d="M264.9,6.22V14.94h4.55v8.76h-4.55v29.63c0,3.65,.19,5.68,.56,6.09,.38,.42,1.94,.63,4.7,.63v8.93h-6.8c-3.84,0-6.58-.16-8.22-.48-1.64-.32-3.09-1.06-4.34-2.21-1.25-1.15-2.03-2.48-2.34-3.96-.31-1.49-.46-4.99-.46-10.5V23.71h-3.63V14.94h3.63V6.22h16.9Z"/>
        </svg>
      </a>
    </div>
    <p class="contact__heading">
      From Basics to Advanced: <br>
      Web Development Tips and Tricks
    </p>
    <a href="/contact/" class="contact-open contact-trigger">
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 16.36">
        <line style="fill: none; stroke: #231815; stroke-miterlimit: 20; stroke-width: 2px;" x1="38.24" y1="8.18" y2="8.18"/>
        <polygon style="fill: #231815;" points="31.61 0 30.25 1.46 37.47 8.18 30.25 14.89 31.61 16.36 40.41 8.18 31.61 0"/>
      </svg>
    </a>
  </div>
</div>


<style lang="scss">
  @import '../styles/vars.scss';

  .contact {
    width: 100%;
    height: 100vh;
    position: relative;

    &__inner {
      height: 100vh;
      position: relative;
      
    }

    &__text {
      width: 100%;
      cursor: pointer;
      margin-bottom: vw-pc(50);

      .layer-open {
        display: inline-block;
        width: 100%;
      }

      svg {
        height: vw-pc(300);
        width: auto;

        @include max-screen($bp-sp) {
          height: 8rem;
        }

        path {
          opacity: 0;
          transition: fill 0.5s ease;
        }

      }
    }

    &__heading {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: vw-pc(40);
      margin-bottom: vw-pc(80);

      @include max-screen($bp-sp) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
  }

  .contact-open {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: vw-pc(100);
    height: vw-pc(100);
    background: #26ff7d;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include max-screen($bp-sp) {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      transition: 0.5s;
    }

    svg {
      width: vw-pc(20);
      position: relative;
      z-index: 3;

      @include max-screen($bp-sp) {
        width: 2rem;
      }
    }

    &.hover {
      &::after {
        width: 0;
      }
    }
    
  }

  .contact-path {
    fill: #000; 
    transition: fill 0.5s ease;
  }
  
</style>

<script>
  import {
		ScrollTrigger
	} from "gsap/ScrollTrigger";
  import gsap from "../scripts/gsap";

  window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    function animateSVG(className) {
      const paths = document.querySelectorAll(`.${className}`);

      paths.forEach((path, index) => {
        gsap.fromTo(path,
          { opacity: 0, y: 50, x: 20 },
          {
            opacity: 1,
            y: 0,
            x: 0,
            duration: 0.8,
            delay: index * 0.1,
            scrub: true,
            ease: 'power2.out'
          }      
        );
      });
    }

    function createTrigger(triggerClass, pathClass) {
      ScrollTrigger.create({
        trigger: `#${triggerClass}`,
        start: "top 70%",
        end: "bottom top",
        once: true,
        onEnter: () => animateSVG(pathClass),
      });
    }

    createTrigger('contact', 'contact-path');

    // ホバーエフェクトの追加
    const contactLink = document.querySelector('.contact__text .layer-open');
    const arrow = document.querySelector('.contact-open');
    const contactPaths = document.querySelectorAll('.contact-path');
    const contactTriggers = document.querySelectorAll('.contact-trigger');

    contactTriggers.forEach((trigger) => {
      trigger.addEventListener('click', (e) => {
        e.preventDefault();
      });
    });

    function applyHoverEffect(element, colorOnHover, colorOnLeave) {
      element.addEventListener('mouseenter', () => {
        contactPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnHover;
        });
        arrow.classList.add('hover');
      });

      element.addEventListener('mouseleave', () => {
        contactPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnLeave;
        });
        arrow.classList.remove('hover');
      });
    }

    applyHoverEffect(contactLink, '#26ff7d', '#000');
    applyHoverEffect(arrow, '#26ff7d', '#000');
  });
</script>