
<div class="mv">
  <div class="l-inner mv__inner">
    <div class="mv__text">
      <!-- <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1353.41 221.34">
        <path class="cls cls01" d="M0,20.81h80.52v8.44c-23.52,2.11-27.74,4.22-27.74,31.06v51.87c6.03-.6,12.97-5.43,21.71-13.87,16.89-15.98,37.09-36.49,50.96-52.17,9.05-10.25,8.14-14.17-4.83-15.98l-8.44-.9v-8.44h73.28v8.44c-22.62,2.71-30.46,4.22-50.66,25.03-9.05,8.75-32.57,31.66-51.87,50.66,22.92,27.14,56.39,65.74,72.07,82.33,15.38,16.59,19.3,19,38,21.11v8.44h-48.25c-23.22-26.24-47.65-55.49-75.09-87.45-6.94-8.44-12.06-9.05-16.89-8.75v57.3c0,26.24,2.71,28.35,27.74,30.46v8.44H0v-8.44c24.73-2.11,27.14-4.22,27.14-30.46V60.31c0-27.14-2.11-29.25-27.14-31.06v-8.44Z"/>
        <path class="cls cls02" d="M261.76,80.82c37.7,0,65.74,28.65,65.74,67.55,0,48.85-36.19,72.07-65.74,72.07-41.62,0-66.95-33.47-66.95-67.25,0-49.15,38.3-72.37,66.95-72.37ZM258.14,91.07c-18.4,0-34.98,17.79-34.98,52.77,0,38.3,16.89,66.04,41.62,66.04,18.7,0,34.38-13.57,34.38-54.88,0-35.28-14.48-63.93-41.01-63.93Z"/>
        <path class="cls cls03" d="M495.47,216.82c-16.28,0-34.08.3-40.41.6-1.81-2.11-49.15-58.2-50.96-60.01-4.22-4.83-6.03-6.33-8.75-6.33-1.21,0-3.62,0-5.43.6v33.47c0,20.21,1.51,21.41,21.11,23.22v8.44h-66.64v-8.44c20.2-1.81,21.71-3.92,21.71-23.22V41.01c0-19.6-2.11-20.2-20.81-22.92v-7.84c15.68-1.51,33.77-6.03,44.63-10.25v143.84c9.05-2.11,14.78-5.73,19.3-10.55,6.94-6.94,18.09-20.51,23.22-28.04,6.33-8.75,3.92-11.16-10.55-12.36v-8.44l62.12-2.71v8.14c-21.11,3.32-27.14,5.73-40.11,19.3-5.73,6.03-19.3,21.41-25.63,29.25,6.03,8.44,36.79,43.42,46.74,53.98,14.48,14.48,18.7,15.38,30.46,15.98v8.44Z"/>
        <path class="cls cls04" d="M496.37,216.82v-8.44c19-1.81,21.11-3.32,21.11-23.82v-62.12c0-18.7-.9-19.9-19-22.92v-7.24c15.68-2.71,29.85-6.63,42.82-12.06v104.34c0,20.51,2.11,22.01,21.71,23.82v8.44h-66.64ZM527.73,50.66c-8.44,0-15.98-7.54-15.98-15.98,0-9.65,7.54-16.59,16.28-16.59s15.38,6.94,15.38,16.59c0,8.44-6.94,15.98-15.68,15.98Z"/>
        <path class="cls cls05" d="M754.5,16.59c51.57,0,97.71,39.5,97.71,99.51,0,64.83-44.03,105.24-99.51,105.24s-100.12-44.03-100.12-100.72,38.3-104.04,101.93-104.04ZM748.47,27.74c-33.78,0-64.53,28.35-64.53,84.74s30.76,97.4,73.58,97.4c36.49,0,63.93-27.14,63.93-85.34,0-63.33-33.47-96.8-72.98-96.8Z"/>
        <path class="cls cls06" d="M991.23,178.22c-3.92,11.76-9.95,28.95-12.97,38.6h-101.32l-1.81-4.83c26.24-38,51.87-78.1,76.6-117h-29.25c-21.41,0-25.03,3.32-36.79,29.25l-8.44-2.71c3.32-11.46,7.24-30.16,9.35-43.42h6.63c1.81,4.52,5.73,6.33,16.89,6.33h71.17l1.81,4.52c-23.82,36.19-50.36,77.2-75.39,117.31h32.27c22.92,0,29.85-6.03,43.42-31.36l7.84,3.32Z"/>
        <path class="cls cls07" d="M1101,220.44c-4.52,0-11.16-2.41-14.17-5.73-3.92-3.92-5.73-8.14-7.24-13.57-12.06,8.14-26.84,19.3-36.19,19.3-21.41,0-36.79-17.79-36.79-37.09,0-14.78,8.14-24.43,24.73-30.16,18.4-6.33,41.01-14.17,47.65-19.6v-6.03c0-21.41-10.86-33.77-26.54-33.77-6.94,0-11.16,3.32-14.17,6.94-3.32,4.22-5.43,10.86-8.14,19.6-1.51,4.83-4.22,6.94-8.75,6.94-5.73,0-13.27-6.03-13.27-13.27,0-4.22,3.92-7.84,9.95-12.06,8.75-6.33,26.24-17.49,43.42-21.11,9.05,0,18.39,2.71,25.33,8.14,10.55,9.05,15.38,19.3,15.38,34.98v58.2c0,13.87,5.13,18.09,10.55,18.09,3.62,0,7.54-1.51,10.86-3.32l3.02,8.44-25.63,15.08ZM1078.99,144.15c-6.63,3.32-21.11,9.65-28.04,12.67-11.46,5.13-18.4,10.86-18.4,22.01,0,15.98,12.06,23.22,21.71,23.22,7.84,0,18.7-4.83,24.73-10.86v-47.04Z"/>
        <path class="cls cls08" d="M1285.86,216.82c-16.28,0-34.08.3-40.41.6-1.81-2.11-49.15-58.2-50.96-60.01-4.22-4.83-6.03-6.33-8.75-6.33-1.21,0-3.62,0-5.43.6v33.47c0,20.21,1.51,21.41,21.11,23.22v8.44h-66.64v-8.44c20.21-1.81,21.71-3.92,21.71-23.22V41.01c0-19.6-2.11-20.2-20.81-22.92v-7.84c15.68-1.51,33.77-6.03,44.63-10.25v143.84c9.05-2.11,14.78-5.73,19.3-10.55,6.94-6.94,18.09-20.51,23.22-28.04,6.33-8.75,3.92-11.16-10.55-12.36v-8.44l62.12-2.71v8.14c-21.11,3.32-27.14,5.73-40.11,19.3-5.73,6.03-19.3,21.41-25.63,29.25,6.03,8.44,36.79,43.42,46.74,53.98,14.47,14.48,18.7,15.38,30.46,15.98v8.44Z"/>
        <path class="cls cls09" d="M1286.76,216.82v-8.44c19-1.81,21.11-3.32,21.11-23.82v-62.12c0-18.7-.9-19.9-19-22.92v-7.24c15.68-2.71,29.85-6.63,42.82-12.06v104.34c0,20.51,2.11,22.01,21.71,23.82v8.44h-66.64ZM1318.12,50.66c-8.44,0-15.98-7.54-15.98-15.98,0-9.65,7.54-16.59,16.28-16.59s15.38,6.94,15.38,16.59c0,8.44-6.94,15.98-15.68,15.98Z"/>
      </svg> -->
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.8 59.31">
        <path class="cls cls01" d="M35.28,1.2l-8.49,25.7,9.3,31.22h-15.29l-5.99-24.4v24.4H0V1.2H14.8V23.31L21.39,1.2h13.89Z"/>
        <path class="cls cls02" d="M70.35,27.84v11.43c0,4.2-.21,7.27-.63,9.23-.42,1.96-1.32,3.79-2.71,5.48-1.38,1.7-3.16,2.95-5.33,3.76-2.17,.81-4.66,1.21-7.47,1.21-3.14,0-5.8-.35-7.98-1.04s-3.87-1.73-5.08-3.13c-1.21-1.39-2.07-3.08-2.58-5.06-.52-1.98-.77-4.95-.77-8.91v-11.95c0-4.34,.47-7.72,1.41-10.16,.94-2.44,2.62-4.39,5.06-5.87,2.44-1.48,5.55-2.21,9.35-2.21,3.19,0,5.92,.47,8.21,1.42s4.05,2.19,5.29,3.71c1.24,1.52,2.09,3.09,2.55,4.71s.69,4.08,.69,7.38Zm-14.2-3.52c0-2.39-.13-3.9-.39-4.52-.26-.62-.81-.93-1.65-.93s-1.41,.31-1.69,.93c-.28,.62-.42,2.13-.42,4.52v21.06c0,2.2,.14,3.64,.42,4.31s.83,1,1.65,1,1.4-.3,1.67-.91c.27-.61,.4-1.92,.4-3.94V24.33Z"/>
        <path class="cls cls03" d="M105.61,11.46l-5.77,18.58,7.49,28.07h-13.66l-4.43-20.33-.02,20.33h-14.2V1.2h14.2l.02,23.89,4.43-13.63h11.94Z"/>
        <path class="cls cls04" d="M124.07,1.2v7.42h-14.62V1.2h14.62Zm0,10.27V58.11h-14.62V11.46h14.62Z"/>
        <path class="cls cls05" d="M176.1,34.52c0,5.72-.14,9.77-.4,12.15-.27,2.38-1.11,4.55-2.53,6.52-1.42,1.97-3.33,3.48-5.75,4.54-2.41,1.05-5.23,1.58-8.44,1.58s-5.78-.5-8.21-1.49-4.38-2.49-5.85-4.48c-1.48-1.99-2.36-4.16-2.64-6.5-.28-2.34-.42-6.45-.42-12.3v-9.74c0-5.72,.13-9.77,.4-12.15,.27-2.38,1.11-4.55,2.53-6.52,1.42-1.97,3.33-3.48,5.75-4.54,2.41-1.05,5.23-1.58,8.44-1.58,3.05,0,5.78,.5,8.21,1.49,2.43,1,4.38,2.49,5.85,4.48,1.48,1.99,2.36,4.16,2.64,6.5,.28,2.34,.42,6.45,.42,12.3v9.74Zm-14.8-18.7c0-2.65-.15-4.34-.44-5.08-.29-.74-.9-1.11-1.81-1.11-.77,0-1.37,.3-1.78,.9-.41,.6-.62,2.36-.62,5.29v26.58c0,3.3,.13,5.34,.4,6.12,.27,.77,.9,1.16,1.88,1.16s1.65-.44,1.93-1.34c.28-.89,.42-3.01,.42-6.36V15.82Z"/>
        <path class="cls cls06" d="M203.31,11.46v10.34l-10.48,26.96h10.48v9.35h-24.22v-9.77l10.7-27.53h-9.61V11.46h23.13Z"/>
        <path class="cls cls07" d="M219.16,29.53h-13.32v-3.13c0-3.61,.42-6.39,1.25-8.35,.83-1.96,2.5-3.69,5.01-5.19,2.51-1.5,5.77-2.25,9.77-2.25,4.8,0,8.43,.85,10.86,2.55,2.44,1.7,3.9,3.79,4.39,6.26,.49,2.47,.74,7.56,.74,15.28v23.41h-13.82v-4.16c-.87,1.67-1.99,2.92-3.36,3.75-1.37,.83-3.01,1.25-4.9,1.25-2.48,0-4.76-.7-6.84-2.09s-3.11-4.45-3.11-9.16v-3.83c0-3.49,.55-5.87,1.65-7.14s3.83-2.74,8.19-4.43c4.66-1.83,7.16-3.06,7.49-3.69s.49-1.92,.49-3.87c0-2.44-.18-4.03-.54-4.76s-.97-1.11-1.81-1.11c-.96,0-1.56,.31-1.79,.93-.23,.62-.35,2.23-.35,4.83v4.89Zm4.5,6.4c-2.27,1.66-3.59,3.06-3.96,4.18s-.54,2.74-.54,4.85c0,2.41,.16,3.97,.47,4.68s.94,1.05,1.88,1.05,1.47-.28,1.74-.83c.27-.55,.4-2,.4-4.34v-9.6Z"/>
        <path class="cls cls08" d="M273.34,11.46l-5.77,18.58,7.49,28.07h-13.66l-4.43-20.33-.02,20.33h-14.2V1.2h14.2l.02,23.89,4.43-13.63h11.94Z"/>
        <path class="cls cls09" d="M291.8,1.2v7.42h-14.62V1.2h14.62Zm0,10.27V58.11h-14.62V11.46h14.62Z"/>
      </svg>
    </div>
  </div>

</div>

<style lang="scss">
  @import '../styles/vars.scss';

  .mv {
		height: 100vh;
		width: 100%;
		position: relative;
    margin-bottom: vw-pc(100);

		&__hmbbtn {
			position: absolute;
			top: 50%;
			left: 6rem;
			transform: translate(0, -50%);
		}

		svg {
			overflow: hidden;
			position: relative;
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
		}

	}

  


  .content {
    z-index: 10;
    text-align: center;
    opacity: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  let animationInitialized = false;

  function initAnimation() {
    if(animationInitialized) return

    gsap.registerPlugin(ScrollTrigger);
  
    const tl = gsap.timeline();
  
    // 線が右から左に伸びるアニメーション
    tl.fromTo(".line", 
      { scaleX: 0, transformOrigin: "right center" },
      { scaleX: 1, duration: 1, ease: "power2.inOut" }
    )
    // 上下の要素が開くアニメーション
    .to(".top-half", { y: "-50vh", duration: 1, ease: "power2.inOut" }, "+=0.2")
    .to(".bottom-half", { y: "50vh", duration: 1, ease: "power2.inOut" }, "<")
    // ラインを消す
    .to(".line", { opacity: 0, duration: 0.5 }, "<")
    // .mvを表示
    .to(".mv", { opacity: 1, duration: 0.5 })
    .to("#animation-container", { display: 'none'}, ">")
    // SVGのパスアニメーション
    .fromTo('.cls', {
      opacity: 0,
      yPercent: 100,
      xPercent: 40,
      scale: 0.1,
      skewX: 50,
      skewY: 50
    }, {
      opacity: 1,
      xPercent: 0,
      yPercent: 0,
      scale: 1,
      skewX: 0,
      skewY: 0,
      duration: 0.7,
      stagger: 0.1,
      ease: 'power2.out'
    }, "-=0.5")
    .add(() => {
      const hmb01 = document.querySelector('.hmb-btn__hmb span:nth-child(1)');
      const hmb02 = document.querySelector('.hmb-btn__hmb span:nth-child(2)');
      const hmb03 = document.querySelector('.hmb-btn__hmb span:nth-child(3)');

      // ハンバーガーメニューの線を初期状態で非表示にする
      gsap.set([hmb01, hmb02, hmb03], { 
        width: '0%',
        opacity: 1
      });

      // 3本の線を順番に表示するアニメーション
      tl.to(hmb01, {
        width: '100%',
        duration: 0.3,
        ease: 'power2.out'
      }, '-=0.2') // SVGアニメーション完了と同時に開始
      tl.to(hmb02, {
        width: '100%',
        duration: 0.3,
        ease: 'power2.out'
      }, '-=0.2') // 0.2秒前のタイミングで開始
      tl.to(hmb03, {
        width: '100%',
        duration: 0.3,
        ease: 'power2.out'
      }, '-=0.2') // 0.2秒前のタイミングで開始
    })
    .add(() => {
      const svg = document.querySelector('.mv svg');
      svg.style.overflow = 'visible';
  
      const animations = [
        { selector: ".cls01", y: -200 },
        { selector: ".cls02", y: 60 },
        { selector: ".cls03", y: 0 },
        { selector: ".cls04", y: -80 },
        { selector: ".cls05", y: -170 },
        { selector: ".cls06", y: -50 },
        { selector: ".cls07", y: -120 },
        { selector: ".cls08", y: 40 },
        { selector: ".cls09", y: -150 },
      ];
  
      animations.forEach(anim => {
        gsap.to(anim.selector, {
          yPercent: anim.y,
          ease: "none",
          scrollTrigger: {
            trigger: ".mv",
            start: "top top",
            end: "bottom top",
            scrub: 1
          }
        });
      });
    });
    animationInitialized = true;
  }

  function resetAnimation() {
    gsap.set([".line", ".top-half", ".bottom-half", ".mv", "#animation-container", ".cls"], { clearProps: "all" });
    ScrollTrigger.getAll().forEach(st => st.kill());
    animationInitialized = false;
  }

  function handlePageShow(event) {
    if (event.persisted) {
      // ページがブラウザのキャッシュから復元された場合（ブラウザバック等）
      resetAnimation();
      initAnimation();
    }
  }

  window.addEventListener('pageshow', handlePageShow);

  window.addEventListener('load', () => {
    initAnimation();
  });

  window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
      initAnimation();
    }
});

  // Astro の View Transitions を使用している場合、以下のイベントリスナーを追加
  document.addEventListener('astro:after-swap', () => {
    resetAnimation();
    initAnimation();
  });
</script>