<div id="about" class="service">
  <div class="l-inner service__inner">
    <div class="service__text">
      <span class="layer-open service-trigger">
        <!-- <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1225.29 296.61">
          <path class="service-path" d="M150.71,72.51c-7.43-28.83-19.66-57.22-60.72-57.22-34.07,0-45.87,24.9-45.87,47.61,0,30.14,19.22,45.43,55.48,64.21,52.42,27.08,75.13,47.18,75.13,88.68,0,45.87-39.75,80.81-96.1,80.81-26.21,0-48.92-7.43-66.83-14.42-3.49-12.23-8.74-41.94-11.79-65.52l13.54-3.49c8.74,29.27,27.96,67.27,73.39,67.27,31.45,0,50.67-21.84,50.67-50.24,0-33.64-17.91-47.18-56.35-68.15C35.38,137.16,9.61,116.2,9.61,75.57S41.94,0,99.6,0c24.46,0,48.49,6.55,57.66,8.3,1.75,15.73,3.49,33.2,6.99,61.59l-13.54,2.62Z"/>
          <path class="service-path" d="M369.12,252.92c-27.96,34.95-58.54,42.37-72.51,42.37-53.29,0-85.62-43.68-85.62-93.92,0-29.7,10.48-57.22,28.39-76.44,18.35-20.53,42.37-31.89,65.09-31.89,38,0,66.83,32.76,66.83,67.71-.44,8.74-1.75,12.67-8.74,14.42-8.74,1.75-64.65,5.68-116.63,7.43-1.31,58.54,34.51,82.56,65.52,82.56,17.91,0,34.51-7.43,50.67-22.28l6.99,10.05ZM293.98,109.64c-20.09,0-39.75,18.78-45.87,54.17,24.46,0,48.92,0,74.7-1.31,7.86,0,10.48-2.18,10.48-8.74.44-23.15-14.85-44.12-39.31-44.12Z"/>
          <path class="service-path" d="M497.98,290.05h-100.47v-12.23c27.52-2.62,30.14-4.8,30.14-33.2v-90.86c0-28.83-1.75-30.14-27.08-33.2v-10.92c21.4-3.49,41.06-8.74,61.59-17.91v48.05c15.29-22.72,33.64-46.74,55.48-46.74,16.16,0,25.34,10.05,25.34,20.97,0,10.05-6.99,19.66-14.85,24.03-4.37,2.62-7.86,2.18-11.36-.87-6.55-6.55-11.79-10.92-19.66-10.92-9.17,0-25.34,13.54-34.95,35.82v82.12c0,28.83,2.18,31.01,35.82,33.64v12.23Z"/>
          <path class="service-path" d="M751.77,110.08c-23.59,3.06-26.65,6.55-38,32.76-14.42,34.95-39.31,93.04-62.03,152.02h-12.67c-18.35-50.23-39.75-102.22-60.28-153.33-10.05-25.34-13.54-27.96-36.26-31.45v-11.79h89.11v11.79c-24.03,3.06-24.9,6.12-17.91,24.9,10.92,30.14,29.27,76.45,41.5,107.02,15.73-38.88,30.14-74.7,39.75-102.66,7.43-21.4,6.12-26.21-22.71-29.27v-11.79h79.5v11.79Z"/>
          <path class="service-path" d="M757.01,290.05v-12.23c27.52-2.62,30.58-4.8,30.58-34.51v-89.99c0-27.08-1.31-28.83-27.52-33.2v-10.48c22.71-3.93,43.25-9.61,62.03-17.47v151.14c0,29.7,3.06,31.89,31.45,34.51v12.23h-96.54ZM802.44,49.36c-12.23,0-23.15-10.92-23.15-23.15,0-13.98,10.92-24.03,23.59-24.03s22.28,10.05,22.28,24.03c0,12.23-10.05,23.15-22.72,23.15Z"/>
          <path class="service-path" d="M1040.95,250.74c-19.22,25.34-48.49,44.56-74.7,44.56-55.48,0-88.24-44.99-88.24-91.73,0-34.51,14.85-63.34,44.12-85.62,23.15-17.91,49.36-24.9,66.4-24.9,19.66,0,34.07,6.12,40.62,11.79,6.12,4.81,6.99,7.86,6.99,12.67,0,10.48-10.92,19.66-15.73,19.66-2.18,0-3.93-.87-8.3-4.37-13.54-12.23-28.39-18.35-44.12-18.35-28.83,0-54.17,24.46-54.17,69.89-.44,60.72,41.06,80.81,66.4,80.81,18.35,0,33.2-4.8,53.29-24.03l7.43,9.61Z"/>
          <path class="service-path" d="M1223.1,252.92c-27.96,34.95-58.54,42.37-72.51,42.37-53.29,0-85.62-43.68-85.62-93.92,0-29.7,10.48-57.22,28.39-76.44,18.35-20.53,42.37-31.89,65.09-31.89,38,0,66.83,32.76,66.83,67.71-.44,8.74-1.75,12.67-8.74,14.42-8.74,1.75-64.65,5.68-116.63,7.43-1.31,58.54,34.51,82.56,65.52,82.56,17.91,0,34.51-7.43,50.67-22.28l6.99,10.05ZM1147.97,109.64c-20.09,0-39.75,18.78-45.87,54.17,24.46,0,48.92,0,74.7-1.31,7.86,0,10.48-2.18,10.48-8.74.44-23.15-14.85-44.12-39.31-44.12Z"/>
        </svg> -->
        <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.59 59.31">
          <path class="service-path" d="M32.59,18.42h-13.75v-4.22c0-1.97-.18-3.22-.53-3.76-.35-.54-.94-.81-1.76-.81-.89,0-1.56,.36-2.02,1.09-.46,.73-.69,1.83-.69,3.31,0,1.9,.26,3.33,.77,4.29,.49,.96,1.88,2.12,4.18,3.48,6.59,3.91,10.74,7.12,12.45,9.63,1.71,2.51,2.57,6.55,2.57,12.13,0,4.06-.47,7.04-1.42,8.96-.95,1.92-2.78,3.53-5.5,4.83-2.72,1.3-5.88,1.95-9.49,1.95-3.96,0-7.34-.75-10.14-2.25-2.8-1.5-4.64-3.41-5.5-5.73-.87-2.32-1.3-5.61-1.3-9.88v-3.73H14.2v6.93c0,2.13,.19,3.5,.58,4.11,.39,.61,1.07,.91,2.06,.91s1.72-.39,2.2-1.16c.48-.77,.72-1.92,.72-3.45,0-3.35-.46-5.54-1.37-6.57-.94-1.03-3.25-2.75-6.93-5.17-3.68-2.44-6.12-4.21-7.31-5.31-1.2-1.1-2.19-2.62-2.97-4.57-.79-1.95-1.18-4.43-1.18-7.45,0-4.36,.56-7.55,1.67-9.56,1.11-2.02,2.91-3.59,5.4-4.73,2.48-1.14,5.48-1.71,9-1.71,3.84,0,7.12,.62,9.83,1.86,2.71,1.24,4.5,2.81,5.38,4.69,.88,1.89,1.32,5.09,1.32,9.62v2.25Z"/>
          <path class="service-path" d="M70.21,35.61h-18.39v10.09c0,2.11,.15,3.47,.46,4.08,.3,.61,.89,.91,1.76,.91,1.08,0,1.8-.4,2.16-1.21,.36-.81,.54-2.37,.54-4.69v-6.15h13.46v3.45c0,2.88-.18,5.1-.54,6.64-.36,1.55-1.21,3.2-2.55,4.96s-3.03,3.08-5.08,3.96c-2.05,.88-4.62,1.32-7.72,1.32s-5.65-.43-7.95-1.3c-2.3-.87-4.08-2.06-5.36-3.57-1.28-1.51-2.16-3.18-2.65-4.99-.49-1.82-.74-4.46-.74-7.93v-13.61c0-4.08,.55-7.29,1.65-9.65,1.1-2.36,2.91-4.16,5.41-5.41,2.51-1.25,5.39-1.88,8.65-1.88,3.98,0,7.27,.76,9.86,2.27,2.59,1.51,4.41,3.52,5.45,6.01,1.04,2.5,1.56,6.01,1.56,10.53v6.19Zm-14.24-7.59v-3.41c0-2.41-.13-3.97-.39-4.68-.26-.7-.79-1.05-1.58-1.05-.98,0-1.59,.3-1.83,.9-.23,.6-.35,2.21-.35,4.83v3.41h4.15Z"/>
          <path class="service-path" d="M89.05,11.46l-.56,6.13c2.06-4.39,5.05-6.72,8.96-6.98V27.04c-2.6,0-4.51,.35-5.73,1.05-1.22,.7-1.97,1.68-2.25,2.94-.28,1.25-.42,4.14-.42,8.67v18.42h-14.2V11.46h14.2Z"/>
          <path class="service-path" d="M130.01,11.46l-6.64,46.65h-18.56l-7.14-46.65h12.68l4,34.07c.31-2.51,.85-8.61,1.6-18.31,.4-5.42,.86-10.67,1.38-15.76h12.68Z"/>
          <path class="service-path" d="M146.71,1.2v7.42h-14.62V1.2h14.62Zm0,10.27V58.11h-14.62V11.46h14.62Z"/>
          <path class="service-path" d="M183.2,29.07h-13.39v-5.38c0-1.88-.15-3.15-.46-3.81-.3-.67-.87-1-1.69-1s-1.37,.29-1.65,.88c-.28,.59-.42,1.9-.42,3.94v22.01c0,1.66,.21,2.91,.63,3.74,.42,.83,1.04,1.25,1.86,1.25,.96,0,1.61-.43,1.95-1.3,.34-.87,.51-2.51,.51-4.92v-5.55h12.66c-.02,3.73-.16,6.52-.4,8.38s-1.03,3.77-2.36,5.73c-1.32,1.96-3.05,3.43-5.19,4.43-2.13,1-4.77,1.49-7.91,1.49-4.01,0-7.18-.69-9.53-2.06-2.34-1.37-4-3.29-4.97-5.77-.97-2.47-1.46-5.98-1.46-10.53v-13.25c0-3.96,.4-6.95,1.2-8.96,.8-2.02,2.5-3.81,5.1-5.4s5.77-2.37,9.49-2.37,6.87,.79,9.49,2.36c2.62,1.57,4.37,3.55,5.24,5.94,.87,2.39,1.3,5.78,1.3,10.16Z"/>
          <path class="service-path" d="M219.59,35.61h-18.39v10.09c0,2.11,.15,3.47,.46,4.08,.3,.61,.89,.91,1.76,.91,1.08,0,1.8-.4,2.16-1.21s.54-2.37,.54-4.69v-6.15h13.46v3.45c0,2.88-.18,5.1-.54,6.64s-1.21,3.2-2.55,4.96-3.03,3.08-5.08,3.96-4.62,1.32-7.72,1.32-5.65-.43-7.95-1.3-4.08-2.06-5.36-3.57-2.16-3.18-2.65-4.99c-.49-1.82-.74-4.46-.74-7.93v-13.61c0-4.08,.55-7.29,1.65-9.65,1.1-2.36,2.91-4.16,5.41-5.41,2.51-1.25,5.39-1.88,8.65-1.88,3.98,0,7.27,.76,9.86,2.27s4.41,3.52,5.45,6.01,1.56,6.01,1.56,10.53v6.19Zm-14.24-7.59v-3.41c0-2.41-.13-3.97-.39-4.68s-.79-1.05-1.58-1.05c-.98,0-1.59,.3-1.83,.9s-.35,2.21-.35,4.83v3.41h4.15Z"/>
        </svg>
      </span>
    </div>
    <p class="service__heading">
      Delivering excellence through design and code.
    </p>
    <div class="service-open service-trigger">
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 16.36">
        <line style="fill: none; stroke: #231815; stroke-miterlimit: 20; stroke-width: 2px;" x1="38.24" y1="8.18" y2="8.18"/>
        <polygon style="fill: #231815;" points="31.61 0 30.25 1.46 37.47 8.18 30.25 14.89 31.61 16.36 40.41 8.18 31.61 0"/>
      </svg>
    </div>
  </div>
</div>


<style lang="scss">
  @import '../styles/vars.scss';

  .service {
    width: 100%;
    height: 100vh;
    position: relative;

    &__inner {
      height: 100vh;
      position: relative;
      
    }

    &__text {
      width: 100%;
      cursor: pointer;
      margin-bottom: vw-pc(50);

      .layer-open {
        display: inline-block;
        width: 100%;
      }

      svg {
        height: vw-pc(300);
        width: auto;

        @include max-screen($bp-sp) {
          height: 8rem;
        }

        path {
          opacity: 0;
          transition: fill 0.5s ease;
        }

      }
    }

    &__heading {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: vw-pc(40);
      margin-bottom: vw-pc(80);

      @include max-screen($bp-sp) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
  }

  .service-open {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: vw-pc(200);
    height: vw-pc(200);
    background: #27d3ff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include max-screen($bp-sp) {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      transition: 0.5s;
    }

    svg {
      width: vw-pc(50);
      position: relative;
      z-index: 3;

      @include max-screen($bp-sp) {
        width: 2rem;
      }
    }

    &.hover {
      &::after {
        width: 0;
      }
    }
    
  }

  .service-path {
    fill: #000; 
    transition: fill 0.5s ease;
  }
  
</style>

<script>
  import {
		ScrollTrigger
	} from "gsap/ScrollTrigger";
  import gsap from "../scripts/gsap";

  window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    function animateSVG(className) {
      const paths = document.querySelectorAll(`.${className}`);

      paths.forEach((path, index) => {
        gsap.fromTo(path,
          { opacity: 0, y: 50, x: 20 },
          {
            opacity: 1,
            y: 0,
            x: 0,
            duration: 0.8,
            delay: index * 0.1,
            scrub: true,
            ease: 'power2.out'
          }      
        );
      });
    }

    function createTrigger(triggerClass, pathClass) {
      ScrollTrigger.create({
        trigger: `.${triggerClass}`,
        start: "80% top",
        end: "bottom top",
        onEnter: () => animateSVG(pathClass),
      });
    }

    createTrigger('service', 'service-path');

    // ホバーエフェクトの追加
    const serviceLink = document.querySelector('.service__text .layer-open');
    const arrow = document.querySelector('.service-open');
    const servicePaths = document.querySelectorAll('.service-path');
    const serviceLayer = document.querySelector('#serviceLayer');
    const serviceTriggers = document.querySelectorAll('.service-trigger');

    serviceTriggers.forEach((trigger) => {
      trigger.addEventListener('click', (e) => {
        e.preventDefault();
        serviceLayer.classList.add('active');
        document.body.classList.add('no-scroll');
      });
    });

    function applyHoverEffect(element, colorOnHover, colorOnLeave) {
      element.addEventListener('mouseenter', () => {
        servicePaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnHover;
        });
        arrow.classList.add('hover');
      });

      element.addEventListener('mouseleave', () => {
        servicePaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnLeave;
        });
        arrow.classList.remove('hover');
      });
    }

    applyHoverEffect(serviceLink, '#27d3ff', '#000');
    applyHoverEffect(arrow, '#27d3ff', '#000');
  });
</script>