---
import ColumnList from '../components/ColumnList';
import Layout from '../layouts/Layout.astro'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
})
---

<section id="blogLayer" class="layer">
  <div class="layer__content">
    <div class="layer__heading">
      <!-- <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 784.97 428.97">
        <path class="blog-path" d="M149.4,160.32c41.94,6.99,76.01,27.08,76.01,69.46,0,29.7-16.6,53.29-42.37,67.27-22.71,12.67-44.99,17.04-75.57,17.04H0v-12.23c37.13-3.49,39.31-7.43,39.31-41.94V84.74c0-36.26-3.93-39.31-39.31-42.37v-12.23h114.45c32.76,0,53.29,5.68,67.27,15.29,15.29,10.48,25.77,26.65,25.77,48.92,0,41.06-33.64,59.85-58.1,65.96ZM99.16,155.07c48.05,0,67.71-19.22,67.71-55.04,0-30.58-18.78-54.17-60.72-54.17-12.23,0-20.09,1.31-24.46,4.37-3.49,2.62-4.81,7.43-4.81,21.4v83.43h22.28ZM76.88,259.04c0,31.45,7.43,39.31,38.44,39.31,34.07,0,67.27-18.35,67.27-64.21s-31.45-63.78-84.74-63.78h-20.97v88.68Z"/>
        <path class="blog-path" d="M249.43,314.08v-12.23c27.96-2.62,31.45-4.8,31.45-33.64V58.97c0-26.65-2.18-29.27-30.14-32.76v-11.36c23.59-2.62,50.67-9.61,64.65-14.85v268.21c0,28.83,2.62,31.01,31.01,33.64v12.23h-96.98Z"/>
        <path class="blog-path" d="M468.71,117.07c54.6,0,95.23,41.5,95.23,97.85,0,70.77-52.42,104.4-95.23,104.4-60.28,0-96.98-48.49-96.98-97.41,0-71.2,55.48-104.84,96.98-104.84ZM463.47,131.92c-26.65,0-50.67,25.77-50.67,76.45,0,55.48,24.46,95.67,60.28,95.67,27.08,0,49.8-19.66,49.8-79.5,0-51.11-20.97-92.61-59.41-92.61Z"/>
        <path class="blog-path" d="M656.54,250.3c-10.48,8.3-14.42,16.6-14.42,21.84,0,7.86,7.43,16.6,27.08,16.6,16.16,0,34.51-.44,48.92-.44,27.96,0,63.78,9.17,63.78,52.42,0,45.43-53.73,88.24-111.83,88.24-49.36,0-76.01-28.83-76.88-54.6,0-9.61,3.93-17.91,10.92-24.9,8.74-9.17,25.77-23.59,35.82-31.45-15.73-4.37-27.08-14.42-32.76-23.59-3.93-6.55-5.24-14.42-5.24-18.78,16.6-6.12,31.45-18.35,40.19-30.14l14.42,4.81ZM677.51,254.67c-40.62,0-74.26-24.9-74.26-65.96,0-49.8,44.56-72.95,78.63-72.95,14.42,0,28.83,3.93,41.94,10.92,20.09,0,46.3-3.49,58.54-6.55l2.62,3.93c-2.62,6.99-9.61,19.22-16.16,23.15-6.55,0-20.97-1.75-27.08-2.18,7.43,10.05,12.67,24.03,12.67,39.75,0,47.61-39.31,69.89-76.88,69.89ZM687.56,319.32c-21.41,0-31.02,2.62-38.88,9.17-12.23,10.05-20.97,23.15-20.97,35.82,0,24.03,24.9,41.94,58.54,41.94,41.5,0,65.09-21.4,65.09-49.36,0-14.85-6.99-26.65-19.22-31.89-10.92-4.81-26.21-5.68-44.56-5.68ZM677.51,129.74c-19.66,0-37.13,17.91-37.13,52.42s17.47,58.54,41.5,58.54c19.22-.87,36.26-17.04,36.26-52.42s-16.16-58.54-40.62-58.54Z"/>
      </svg> -->
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.14 64.97">
        <path class="blog-path" d="M0,0H14.77c4.66,0,8.2,.36,10.6,1.09,2.4,.73,4.34,2.2,5.82,4.41,1.48,2.21,2.21,5.78,2.21,10.7,0,3.33-.52,5.64-1.56,6.96-1.04,1.31-3.1,2.32-6.17,3.02,3.42,.77,5.74,2.06,6.96,3.85,1.22,1.79,1.83,4.54,1.83,8.25v5.28c0,3.85-.44,6.7-1.32,8.55-.88,1.85-2.28,3.12-4.2,3.8-1.92,.68-5.86,1.02-11.81,1.02H0V0ZM14.8,9.74v12.66c.63-.02,1.12-.04,1.48-.04,1.45,0,2.38-.36,2.78-1.07,.4-.71,.6-2.76,.6-6.13,0-1.78-.16-3.03-.49-3.74-.33-.71-.76-1.17-1.28-1.35-.53-.19-1.55-.29-3.08-.32Zm0,21.52v15.93c2.09-.07,3.42-.4,3.99-.98,.57-.59,.86-2.03,.86-4.32v-5.31c0-2.44-.26-3.91-.77-4.43-.52-.52-1.88-.81-4.08-.88Z"/>
        <path class="blog-path" d="M53.96,0V56.92h-14.62V0h14.62Z"/>
        <path class="blog-path" d="M91.2,26.65v11.43c0,4.2-.21,7.27-.63,9.23-.42,1.96-1.32,3.79-2.71,5.48-1.38,1.7-3.16,2.95-5.33,3.76-2.17,.81-4.66,1.21-7.47,1.21-3.14,0-5.8-.35-7.98-1.04s-3.87-1.73-5.08-3.13c-1.21-1.39-2.07-3.08-2.58-5.06-.52-1.98-.77-4.95-.77-8.91v-11.95c0-4.34,.47-7.72,1.41-10.16,.94-2.44,2.62-4.39,5.06-5.87,2.44-1.48,5.55-2.21,9.35-2.21,3.19,0,5.92,.47,8.21,1.42s4.05,2.19,5.29,3.71c1.24,1.52,2.09,3.09,2.55,4.71s.69,4.08,.69,7.38Zm-14.2-3.52c0-2.39-.13-3.9-.39-4.52-.26-.62-.81-.93-1.65-.93s-1.41,.31-1.69,.93c-.28,.62-.42,2.13-.42,4.52v21.06c0,2.2,.14,3.64,.42,4.31s.83,1,1.65,1,1.4-.3,1.67-.91c.27-.61,.4-1.92,.4-3.94V23.13Z"/>
        <path class="blog-path" d="M128.14,10.27V46.2c0,4.85-.11,7.99-.33,9.4-.22,1.42-1.01,2.92-2.37,4.5-1.36,1.58-3.25,2.79-5.68,3.62s-5.48,1.25-9.16,1.25c-4.52,0-8.16-.77-10.9-2.3s-4.16-4.55-4.25-9.05h13.78c0,2.06,.75,3.09,2.25,3.09,1.08,0,1.79-.32,2.14-.95s.53-1.96,.53-3.98v-3.52c-1.22,1.1-2.5,1.94-3.85,2.5-1.35,.56-2.76,.85-4.24,.85-2.55,0-4.66-.52-6.31-1.55-1.65-1.03-2.78-2.38-3.39-4.06-.61-1.68-.91-4.06-.91-7.15V21.9c0-4.43,.8-7.62,2.39-9.56,1.59-1.95,4.02-2.92,7.28-2.92,1.78,0,3.4,.36,4.87,1.09,1.46,.73,2.77,1.82,3.92,3.28l1.02-3.52h13.22Zm-14.24,12.38c0-2.13-.12-3.49-.37-4.08-.25-.59-.79-.88-1.63-.88s-1.4,.33-1.74,1c-.34,.67-.51,1.99-.51,3.96v15.68c0,2.09,.13,3.44,.39,4.06,.26,.62,.8,.93,1.62,.93,.94,0,1.55-.37,1.83-1.12,.28-.75,.42-2.45,.42-5.1v-14.45Z"/>
      </svg>
    </div>

    <div class="blog">
      <p class="blog__ttl">
        <span>Blog</span>
      </p>
      <div class="blog__content">
        <div class="l-section">
          <div class="xl-inner">
            <div class="u-mb-m">
            </div>	
            <ColumnList data={articles} client:load />

          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="blogClose" class="layer__close">
    <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.83 145.83">
      <circle cx="72.92" cy="72.92" r="70.42" fill="#ff9326" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
      <g>
        <line x1="110.92" y1="34.91" x2="34.91" y2="110.92" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
        <line x1="36.68" y1="36.68" x2="109.16" y2="109.16" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
      </g>
    </svg>
  </div>
</section>

<style lang="scss">
  @import '../styles/vars.scss';

  .layer {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: -2;
    opacity: 0;
    transition: 0.5s;
    overflow-y: auto;
    
    &__content {
      transition: 0.5s;
      background: #ff9326;
      padding: 0 vw-pc(80) vw-pc(200);
      min-height: 100vh;
      width:85%;
      margin-left: auto;
      position: absolute;
      top: 0;
      right: -100%;
      overflow: visible;
      
    }

    &__heading {
      height: 100vh;
      display: flex;
      align-items: center;
      svg {
        height: vw-pc(300);
      }
    }

    &__close {
      position: fixed;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      width: vw-pc(150);
      height: vw-pc(150);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: translateY(-50%) rotate(90deg);
      }
    }

    &.active {
      opacity: 1;
      z-index: 1000;


      .layer__content {
        right: 0;
      }

      .layer__close {
        left: vw-pc(40);
      }
    }

    
  }

  .blog {
    // display: flex;
    justify-content: space-between;
    &__ttl {
      width: 30%;
      margin-bottom: vw-pc(100);
      span {
        font-size: vw-pc(80);
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        text-align: right;
        border-bottom: 2px solid #000;
        padding-bottom: vw-pc(30);

      }
    }

    &__top {
      display: flex;
      align-items: center;
      margin-bottom: vw-pc(60);
    }

    &__img {
      width: vw-pc(200);
      height: vw-pc(200);
      overflow: hidden;
      border-radius: 50%;
      margin-right: vw-pc(40);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-size: vw-pc(60);
      line-height: 1.5;
    }

    &__name-en {
      font-family: "Barlow", sans-serif;
    }

    &__name-ja {
      font-size: vw-pc(30);
    }

    &__content {
      font-size: vw-pc(30);
      line-height: 2;
      font-weight: 500;
      width: 100%;
    }

    &__ja {
      margin-bottom: vw-pc(50);
    }
    &__en {
      line-height: 1.5;
      font-size: vw-pc(25);
      margin-bottom: vw-pc(60);
    }
  }

  .blog-list {
    display: flex;
    justify-content: space-between;
    gap: vw-pc(30);

    li {
      width: calc((100% - vw-pc(30)) * 1 / 3);
      background: #fff;
      border-radius: 5px;
      padding-bottom: vw-pc(20);
      overflow: hidden;
    }

    &__img {
      margin-bottom: vw-pc(20);
    }

    &__ttl {
      font-weight: bold;
      font-size: vw-pc(25);
      margin: 0 10px;
    }

    &__text {
      font-size: vw-pc(20);
      margin: 0 10px;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const layer = document.querySelector('#blogLayer');
    const close = document.querySelector('#blogClose');

    close.addEventListener('click', () => {
      layer.classList.remove('active');
      document.body.classList.remove('no-scroll');
    });
  });
</script>