---

---

<section id="serviceLayer" class="layer">
  <div class="layer__content">
    <div class="layer__heading">
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.59 59.31">
        <path class="service-path" d="M32.59,18.42h-13.75v-4.22c0-1.97-.18-3.22-.53-3.76-.35-.54-.94-.81-1.76-.81-.89,0-1.56,.36-2.02,1.09-.46,.73-.69,1.83-.69,3.31,0,1.9,.26,3.33,.77,4.29,.49,.96,1.88,2.12,4.18,3.48,6.59,3.91,10.74,7.12,12.45,9.63,1.71,2.51,2.57,6.55,2.57,12.13,0,4.06-.47,7.04-1.42,8.96-.95,1.92-2.78,3.53-5.5,4.83-2.72,1.3-5.88,1.95-9.49,1.95-3.96,0-7.34-.75-10.14-2.25-2.8-1.5-4.64-3.41-5.5-5.73-.87-2.32-1.3-5.61-1.3-9.88v-3.73H14.2v6.93c0,2.13,.19,3.5,.58,4.11,.39,.61,1.07,.91,2.06,.91s1.72-.39,2.2-1.16c.48-.77,.72-1.92,.72-3.45,0-3.35-.46-5.54-1.37-6.57-.94-1.03-3.25-2.75-6.93-5.17-3.68-2.44-6.12-4.21-7.31-5.31-1.2-1.1-2.19-2.62-2.97-4.57-.79-1.95-1.18-4.43-1.18-7.45,0-4.36,.56-7.55,1.67-9.56,1.11-2.02,2.91-3.59,5.4-4.73,2.48-1.14,5.48-1.71,9-1.71,3.84,0,7.12,.62,9.83,1.86,2.71,1.24,4.5,2.81,5.38,4.69,.88,1.89,1.32,5.09,1.32,9.62v2.25Z"/>
        <path class="service-path" d="M70.21,35.61h-18.39v10.09c0,2.11,.15,3.47,.46,4.08,.3,.61,.89,.91,1.76,.91,1.08,0,1.8-.4,2.16-1.21,.36-.81,.54-2.37,.54-4.69v-6.15h13.46v3.45c0,2.88-.18,5.1-.54,6.64-.36,1.55-1.21,3.2-2.55,4.96s-3.03,3.08-5.08,3.96c-2.05,.88-4.62,1.32-7.72,1.32s-5.65-.43-7.95-1.3c-2.3-.87-4.08-2.06-5.36-3.57-1.28-1.51-2.16-3.18-2.65-4.99-.49-1.82-.74-4.46-.74-7.93v-13.61c0-4.08,.55-7.29,1.65-9.65,1.1-2.36,2.91-4.16,5.41-5.41,2.51-1.25,5.39-1.88,8.65-1.88,3.98,0,7.27,.76,9.86,2.27,2.59,1.51,4.41,3.52,5.45,6.01,1.04,2.5,1.56,6.01,1.56,10.53v6.19Zm-14.24-7.59v-3.41c0-2.41-.13-3.97-.39-4.68-.26-.7-.79-1.05-1.58-1.05-.98,0-1.59,.3-1.83,.9-.23,.6-.35,2.21-.35,4.83v3.41h4.15Z"/>
        <path class="service-path" d="M89.05,11.46l-.56,6.13c2.06-4.39,5.05-6.72,8.96-6.98V27.04c-2.6,0-4.51,.35-5.73,1.05-1.22,.7-1.97,1.68-2.25,2.94-.28,1.25-.42,4.14-.42,8.67v18.42h-14.2V11.46h14.2Z"/>
        <path class="service-path" d="M130.01,11.46l-6.64,46.65h-18.56l-7.14-46.65h12.68l4,34.07c.31-2.51,.85-8.61,1.6-18.31,.4-5.42,.86-10.67,1.38-15.76h12.68Z"/>
        <path class="service-path" d="M146.71,1.2v7.42h-14.62V1.2h14.62Zm0,10.27V58.11h-14.62V11.46h14.62Z"/>
        <path class="service-path" d="M183.2,29.07h-13.39v-5.38c0-1.88-.15-3.15-.46-3.81-.3-.67-.87-1-1.69-1s-1.37,.29-1.65,.88c-.28,.59-.42,1.9-.42,3.94v22.01c0,1.66,.21,2.91,.63,3.74,.42,.83,1.04,1.25,1.86,1.25,.96,0,1.61-.43,1.95-1.3,.34-.87,.51-2.51,.51-4.92v-5.55h12.66c-.02,3.73-.16,6.52-.4,8.38s-1.03,3.77-2.36,5.73c-1.32,1.96-3.05,3.43-5.19,4.43-2.13,1-4.77,1.49-7.91,1.49-4.01,0-7.18-.69-9.53-2.06-2.34-1.37-4-3.29-4.97-5.77-.97-2.47-1.46-5.98-1.46-10.53v-13.25c0-3.96,.4-6.95,1.2-8.96,.8-2.02,2.5-3.81,5.1-5.4s5.77-2.37,9.49-2.37,6.87,.79,9.49,2.36c2.62,1.57,4.37,3.55,5.24,5.94,.87,2.39,1.3,5.78,1.3,10.16Z"/>
        <path class="service-path" d="M219.59,35.61h-18.39v10.09c0,2.11,.15,3.47,.46,4.08,.3,.61,.89,.91,1.76,.91,1.08,0,1.8-.4,2.16-1.21s.54-2.37,.54-4.69v-6.15h13.46v3.45c0,2.88-.18,5.1-.54,6.64s-1.21,3.2-2.55,4.96-3.03,3.08-5.08,3.96-4.62,1.32-7.72,1.32-5.65-.43-7.95-1.3-4.08-2.06-5.36-3.57-2.16-3.18-2.65-4.99c-.49-1.82-.74-4.46-.74-7.93v-13.61c0-4.08,.55-7.29,1.65-9.65,1.1-2.36,2.91-4.16,5.41-5.41,2.51-1.25,5.39-1.88,8.65-1.88,3.98,0,7.27,.76,9.86,2.27s4.41,3.52,5.45,6.01,1.56,6.01,1.56,10.53v6.19Zm-14.24-7.59v-3.41c0-2.41-.13-3.97-.39-4.68s-.79-1.05-1.58-1.05c-.98,0-1.59,.3-1.83,.9s-.35,2.21-.35,4.83v3.41h4.15Z"/>
      </svg>
    </div>

    <div class="service">
      <p class="service__ttl">
        <span>SERVICE</span>
      </p>
      <div class="service__content">
        <!-- <p class="service__ja">僕が行なっているサービス内容です。<br>
          「Web制作やデザインを頼みたい」「既存のWebサイトを修正・改善したい」<br>
          など是非、お気軽にご相談ください。
        </p> -->
        <p class="service__en">
          Here are the services I offer:<br>
          Web design and development: If you need help with web design or development.<br>
          Website modifications and improvements: <br>
          If you want to revise or enhance an existing website.<br>
          Please feel free to get in touch with any inquiries.<br>
        </p>

        <ul class="service-list">
          <li>
            <div class="service-list__img">
              <img src="/assets/images/top/service-01.jpg" alt="Website production">
            </div>
            <p class="service-list__ttl">Website production</p>
            <p class="service-list__text">
              We will conduct thorough interviews and create an attractive website.
            </p>
          </li>
          <li>
            <div class="service-list__img">
              <img src="/assets/images/top/service-02.jpg" alt="Website modification">
            </div>
            <p class="service-list__ttl">Website modification</p>
            <p class="service-list__text">
              We will respond to requests such as improving your website or adding new pages.
            </p>
          </li>
          <li>
            <div class="service-list__img">
              <img src="/assets/images/top/service-03.jpg" alt="Other/Consultation">
            </div>
            <p class="service-list__ttl">Other/Consultation</p>
            <p class="service-list__text">
              We accept inquiries regarding website production and design issues.
            </p>
          </li>
        </ul>

      </div>
    </div>
    <div class="flow">
      <p class="flow__ttl">
        <span>Flow</span>
      </p>
      <div class="flow__content">
        <div class="service-flow">
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Free Consultation</dt>
                <dd class="service-flow__text">We will discuss the purpose, scale, and delivery schedule of your website. <br>
                    Whether it's questions like "What is a website?" or "Do I really need one?", or concerns such as "This is my first time, and I'm worried," feel free to consult with us. We will explain everything so that you fully understand.</dd>
                <dd class="service-flow__num">01</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Quotation</dt>
                <dd class="service-flow__text">
                    Based on the information gathered during the free consultation, we will propose a plan that fits your budget. <br>
                    We will carefully explain the quotation details and the process if you decide to proceed, allowing you to consider your options.
                </dd>
                <dd class="service-flow__num">02</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Contract</dt>
                <dd class="service-flow__text">
                    If you are satisfied with the quotation, we will proceed with the contract. You will be required to pay half of the production cost as an initial payment.
                </dd>
                <dd class="service-flow__num">03</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Start Production</dt>
                <dd class="service-flow__text">
                    We will begin production. <br>
                    We will provide regular updates on the progress to ensure there are no discrepancies with your expectations, and make adjustments as needed.
                </dd>
                <dd class="service-flow__num">04</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Final Check</dt>
                <dd class="service-flow__text">
                    You will conduct a final review of the website. <br>
                    If there are any corrections or adjustments needed, we will address them at this stage. Our goal is to ensure that you are completely satisfied before the website goes live.
                </dd>
                <dd class="service-flow__num">05</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Delivery & Launch</dt>
                <dd class="service-flow__text">
                    Once the final check is complete, we will launch the website online. <br>
                    After confirming the payment of the remaining balance, we will guide you through the publication process and how to update the website.
                </dd>
                <dd class="service-flow__num">06</dd>
            </dl>
            <dl class="service-flow__wrap">
                <dt class="service-flow__ttl">Maintenance & Operation</dt>
                <dd class="service-flow__text">
                    We offer one month of free after-sales support. <br>
                    If long-term support is required, we will propose a maintenance plan. Maintenance and operation details will be explained during the initial consultation before the contract.
                </dd>
                <dd class="service-flow__num">07</dd>
            </dl>
        </div>
    </div>
    
    </div>

  </div>
  <div id="serviceClose" class="layer__close">
    <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.83 145.83">
      <circle cx="72.92" cy="72.92" r="70.42" fill="#27d3ff" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
      <g>
        <line x1="110.92" y1="34.91" x2="34.91" y2="110.92" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
        <line x1="36.68" y1="36.68" x2="109.16" y2="109.16" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="5px"/>
      </g>
    </svg>
  </div>
</section>

<style lang="scss">
  @import '../styles/vars.scss';

  .layer {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: -2;
    opacity: 0;
    transition: 0.5s;
    overflow-y: auto;
    
    &__content {
      transition: 0.5s;
      background: rgb(39 211 255);
      padding: 0 vw-pc(80) vw-pc(200);
      min-height: 100vh;
      width:85%;
      margin-left: auto;
      position: absolute;
      top: 0;
      right: -100%;
      overflow: visible;

      @include max-screen($bp-sp) {
        padding: 0 1.5rem 10rem;
        width: 100%;
      }
      
    }

    &__heading {
      height: 100vh;
      display: flex;
      align-items: center;
      svg {
        height: vw-pc(300);
      }
    }

    &__close {
      position: fixed;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      width: vw-pc(150);
      height: vw-pc(150);
      transition: 0.3s;
      cursor: pointer;

      @include max-screen($bp-sp) {
        width: 4rem;
        height: 4rem;
        top: 2rem;
        left: 2rem;
        transform: translateY(0);
      }

      &:hover {
        transform: translateY(-50%) rotate(90deg);
      }
    }

    &.active {
      opacity: 1;
      z-index: 1000;


      .layer__content {
        right: 0;
      }

      .layer__close {
        left: vw-pc(40);
      }
    }

    
  }

  .service {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: vw-pc(60);
    @include max-screen($bp-sp) {
      display: block;
      margin-bottom: 3rem;
    }
    &__ttl {
      width: 20%;
      @include max-screen($bp-sp) {
        width: 100%;
      }
      span {
        font-size: vw-pc(80);
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        text-align: right;
        border-bottom: 2px solid #000;
        padding-bottom: vw-pc(30);

        @include max-screen($bp-sp) {
          font-size: 2.5rem;
          display: inline-block;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid #000;
          padding-bottom: 1rem;

        }

      }
    }

    &__content {
      font-size: vw-pc(30);
      line-height: 2;
      font-weight: 500;
      width: 75%;

      @include max-screen($bp-sp) {
        width: 100%;
        font-size: 1.2rem;
      }

    }

    &__ja {
      margin-bottom: vw-pc(50);
      @include max-screen($bp-sp) {
        margin-bottom: 1.5rem;
      }
    }
    &__en {
      line-height: 1.5;
      font-size: vw-pc(25);
      margin-bottom: vw-pc(60);

      @include max-screen($bp-sp) {
        font-size: 1.1rem;
        margin-bottom: 3rem;
      }
    }
  }

  .service-list {
    display: flex;
    justify-content: space-between;
    gap: vw-pc(30);

    @include max-screen($bp-sp) {
      display: block;

    }

    li {
      width: calc((100% - vw-pc(30)) * 1 / 3);
      background: #fff;
      border-radius: 5px;
      padding-bottom: vw-pc(20);
      overflow: hidden;
      @include max-screen($bp-sp) {
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

      }
    }

    &__img {
      margin-bottom: vw-pc(20);
      @include max-screen($bp-sp) {
        margin-bottom: 1rem;
      }
    }

    &__ttl {
      font-weight: bold;
      font-size: vw-pc(25);
      margin: 0 10px;
      @include max-screen($bp-sp) {
        font-size: 1.3rem;
      }
    }

    &__text {
      font-size: vw-pc(20);
      margin: 0 10px;

      @include max-screen($bp-sp) {
        font-size: 1.2rem;
      }
    }
  }

  .flow {
    display: flex;
    justify-content: space-between;

    @include max-screen($bp-sp) {
      display: block;
    }

    &__ttl {
      width: 20%;
      span {
        font-size: vw-pc(80);
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        text-align: right;
        border-bottom: 2px solid #000;
        padding-bottom: vw-pc(30);

        @include max-screen($bp-sp) {
          font-size: 2.5rem;
          display: inline-block;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid #000;
          padding-bottom: 1rem;

        }

      }
    }

    &__content {
      width: 75%;

      @include max-screen($bp-sp) {
          width: 100%;

        }
    }
  }

  .service-flow {
		width: vw-pc(960);
		margin: 0 auto;
		padding-top: vw-pc(100);
		padding-bottom: vw-pc(80);

		@include max-screen($bp-sp) {
			width: 100%;	
			padding-top: 5rem;
			padding-bottom: 8rem;
		}
	}

  .service-flow__wrap {
        border-left: 2px dotted #fff;
        padding-left: vw-pc(65);
        padding-bottom: vw-pc(85);
        position: relative;

        @include max-screen($bp-sp) {
            padding-left: 2.5rem;
            margin-left: 1.5rem;
            padding-bottom: 2.5rem;

        }

        &:last-of-type {
            border: none;
        }
    }

    .service-flow__ttl {
        font-size: vw-pc(30);
        font-weight: bold;
        margin-bottom: vw-pc(10);

        @include max-screen($bp-sp) {
            font-size: 1.5rem;
            margin-bottom: 0.7rem;
        }
    }

    .service-flow__text {
        font-size: vw-pc(18);

        @include max-screen($bp-sp) {
            font-size: 1.4rem;
        }
    }

    .service-flow__num {
        color: #27d3ff;
        border: 1px solid #fff;
        background: #fff;
        width: vw-pc(70);
        height: vw-pc(70);
        font-size: vw-pc(20);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        left: vw-pc(-35);
        top: vw-pc(-35);
        line-height: 1;

        @include max-screen($bp-sp) {
            width: 3.6rem;
            height: 3.6rem;
            font-size: 1.4rem;
            left: -1.8rem;
        }
    }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const layer = document.querySelector('#serviceLayer');
    const close = document.querySelector('#serviceClose');

    close.addEventListener('click', () => {
      layer.classList.remove('active');
      document.body.classList.remove('no-scroll');
    });
  });
</script>